<body class="row nomargin color2">
    <header>
        <br>
        <h4>Módulo de Asesor</h4>
        <h5>Administrar Solicitudes</h5>
    </header>
    <div class="container pt-60">
        <div class="row nomargin">
            <table class="table responsive col s12">
                <thead class="color1 letra1">
                    <tr>
                        <th class="center">Solicitud</th>
                        <th class="center">Numero solicitud </th>
                        <th class="center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">Reintegro </td>
                        <td class="center">111</td>
                        <td class="center col s11"><select class="browser-default">
                                <option value="" disabled selected>seleccione</option>
                                <option value="1">Aprobado</option>
                                <option value="2">Desaprobado</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td class="center">Afiliacion</td>
                        <td class="center">222</td>
                        <td class="center col s11"><select class="browser-default">
                                <option value="" disabled selected>seleccione</option>
                                <option value="1">Aprobado</option>
                                <option value="2">Desaprobado</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td class="center">Afiliacion</td>
                        <td class="center">333</td>
                        <td class="center col s11"><select class="browser-default">
                                <option value="" disabled selected>seleccione</option>
                                <option value="1">Aprobado</option>
                                <option value="2">Desaprobad</option>
                            </select></td>
                    </tr>