<body class="row nomargin color2">
    <header>
        <br>
        <h4>Módulo de Administrador</h4>
        <h5>Editar Sucursal</h5>
    </header>
    <div class="container pt-60">
        <div class="row nomargin">
            <div class="col s6 color1">
                <form [formGroup]="fgValidator" (ngSubmit)="EditarProducto()" method="POST">
                    <input type="hidden" formControlName="id">
                    <div class="row">
                        <div class="input-field col s6">
                            <input formControlName="departamento" type="text" name="departamento"
                                class="validate letra1" required>
                            <label for="departamento" class="active">Departamento</label>
                        </div>
                        <div class="input-field col s6">
                            <input formControlName="ciudad" type="text" name="ciudad" class="validate letra1" required>
                            <label for="ciudad" class="active">Ciudad</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input formControlName="direccion" type="text" name="direccion" class="validate letra1"
                                required>
                            <label for="direccion" class="active">Direccion</label>
                        </div>
                        <div class="input-field col s6">
                            <input formControlName="telefono" type="text" name="telefono" class="validate letra1"
                                required>
                            <label for="telefono" class="active">Telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 mt-25 center">
                            <button [disabled]="!fgValidator.valid" class="btn waves-effect waves-light" type="submit"
                                name="action">Modificar Sucursal
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s6 color1">
                <div class="center">
                    <img class="logo2 responsive-img" src="../assets/Img/Perro1.png" alt="Logo Mascota Feliz">
                </div>
            </div>
        </div>
    </div>
</body>