<body class="row nomargin color2">
    <header>
        <br>
        <h4>Módulo de Asesor</h4>
        <h5>Listado de Prospectos</h5>
    </header>
    <div class="container pt-60">
        <div class="row nomargin">
            <table class="table responsive col s12">
                <thead class="color1 letra1">
                    <tr>
                        <th class="center">Nombres</th>
                        <th class="center">Apellidos</th>
                        <th class="center">Teléfono</th>
                        <th class="center">Correo Electrónico</th>
                        <th class="center">Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of listadoRegistro">
                        <td class="center">{{p.nombre}}</td>
                        <td class="center">{{p.apellido}}</td>
                        <td class="center">{{p.celular}}</td>
                        <td class="center">{{p.correo}}</td>
                        <td class="center">{{p.comentario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>