<body class="row nomargin color2">
    <header>
        <br>
        <h4>Módulo de Administrador</h4>
        <h5>Listado de Productos</h5>
    </header>
    <div class="container pt-60">
        <div class="row nomargin">
            <table class="table responsive col s12">
                <thead class="color1 letra1">
                    <tr>
                        <th class="center">Tipo</th>
                        <th class="center">Nombre</th>
                        <th class="center">Descripcion</th>
                        <th class="center">Precio</th>
                        <th class="center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of listadoRegistros">
                        <td class="center">{{p.tipo}}</td>
                        <td class="center">{{p.nombre}}</td>
                        <td class="center">{{p.descripcion}}</td>
                        <td class="center">{{p.precio}}</td>
                        <td class="center2"><a routerLink="/administrador/modificarProducto/{{p.id}}"class="btn">Editar</a>
                        <button class="btn" (click)="eliminarProducto(p.id)">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row nomargin color1">
            <div class="col s12 mt-25 center">
                <a routerLink="/administrador/crearProducto" class="btn waves-effect waves-light">Nuevo Producto</a>
            </div>
        </div>
    </div>
</body>